In [1]:


import pandas as pd


df = pd.read_csv("RESULTS.csv")

df.head()

,image_name,comment_number,comment;
0,1000092795.jpg,0,Two young guys with shaggy hair look at their...
1,1000092795.jpg,1,Two young White males are outside near many ...
2,1000092795.jpg,2,Two men in green shirts are standing in a yar...
3,1000092795.jpg,3,A man in a blue shirt standing in a garden .;
4,1000092795.jpg,4,Two friends enjoy time spent together .;